@import 'bourbon';
@import 'neat';

* {
  background-color: lightgrey;
}

// .text {
//   color: tint(blue, 50%);
// }



.container {
  @include outer-container;
  border: 3px solid purple;
  .container__inner {
    @include span-columns(8);
    @include shift(2);
    color: shade(darkgrey, 75%);
  }
}
